#mslo-branches-officers {width: 33.333%; float: left; height:650px; }

#mslo-search-results {    padding-right: 4px;
    height: 301px;
    overflow-y: scroll;
    margin-top: 21px;
    border: 2px solid;
    padding-left: 12px;
    padding-top: 12px;
    margin-right: 24px;}

.mslo-search-result {margin-bottom: 18px; padding-bottom: 18px; border-bottom: 2px solid;}

#mslo-map-container {width: 66.666%; float: left; height: 100%;}

#mslo-map {width: 100%; height: 650px; border: #ccc solid 1px; margin: 0 auto;}

#mslo-branches-officers h3 {    margin-bottom: 0px; line-height: 1em;}

#mslo-branches-officers button {width: 100%;color: #fff; padding: .2em .8em;  font-family: Oswald,sans-serif; font-weight: normal;  font-size: 1.7em; text-decoration: none; text-transform: uppercase;background: #002356;border-radius: 33px;    }

#mslo-branches {margin-bottom: 25px;}
	
#search-by-state-zip select {width: 60%; float: left; margin-right: 5%;}
	
#search-by-state-zip input {width: 35%; float: left;}
	
#mslo-branches-officers form {border:0px; margin: 0px; padding: 10px 24px 10px 0px;}

#mslo-search-results p {margin-bottom: 0px;}

#mslo-branches-officers form#search-by-loan-officer {padding-bottom: 0px;}

#mslo-search-results button {font-size: 1.35em; width: 150px;
    display: inline-block;
    text-align: center;}

.directions-button { float:right; }

.lo-image { width: 30%; float: left; margin-bottom: 20px;}

.lo-content { width: 64%; float: right; margin-bottom: 20px;}

.hero-box.loan-officers .hero-text img {float: left; margin-right: 20px;}

.hero-box.loan-officers .hero-text .loan-officer-meta {float: left;}

.hero-box .hero-text h2.loan-officer-name {    text-transform: none;
    color: white;
    font-size: 2.4vw;}
	
.hero-box.loan-officers .hero-text .loan-officer-meta p {color: white; text-transform: none; font-size: 1.4vw; margin-bottom: 0px;}

.single-loan_officer form {width: 50%; float: none; margin: 0 auto;}